// @import "variables";
@import "@material/layout-grid/mixins";
@import "@material/ripple/mixins";
@import "@material/typography/mixins";
@import "@material/theme/mixins";
@import "@material/elevation/mixins";
@import "rl-bottom-sheet";
@import "rl-list";

.rl-map-nav {
  @include mdc-elevation(4);

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: white;
  z-index: 8;

  // stylelint-disable selector-class-pattern
  .mdc-select {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0;
    font-size: 1rem;

    &--buildings {
      min-width: 256px;

      @media (min-width: $grid-medium-bp) {
        margin-left: 12px;
      }
    }

    &--floors {
      min-width: 92px;

      @media (min-width: $grid-medium-bp - 1) {
        display: none;
        pointer-events: none;
        visibility: hidden;
      }
    }
  }
  // stylelint-enable selector-class-pattern

  .mdc-tab-bar {
    padding: 0 32px;

    @include mdc-layout-grid-media-query_(phone) {
      display: none;
      visibility: hidden;
    }

    .mdc-tab {
      height: 56px;
    }
  }

  .mdc-tab-scroller {
    display: none;
    pointer-events: none;
    visibility: hidden;

    @media (min-width: $grid-medium-bp) {
      display: block;
      pointer-events: all;
      visibility: visible;
    }
  }
}
