// @import "variables";
@import "@material/ripple/mixins";
@import "@material/typography/mixins";
@import "@material/theme/mixins";
@import "@material/elevation/mixins";
@import "rula-bottom-sheet";
@import "rula-list";

.rula-map-nav {
  @include mdc-elevation(4);

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: white;
  z-index: 8;

  // stylelint-disable selector-class-pattern
  .mdc-select {
    margin-bottom: 8px;
    margin-left: 0;
    font-size: 1rem;

    &--buildings {
      min-width: 224px;

      @media (min-width: $grid-medium-bp) {
        margin-left: 12px;
      }
    }

    &--floors {
      min-width: 92px;

      @media (min-width: $grid-medium-bp - 1) {
        display: none;
        pointer-events: none;
        visibility: hidden;
      }
    }
  }
  // stylelint-enable selector-class-pattern

  .mdc-tab-bar {
    padding: 0 32px;
  }

  .mdc-tab-scroller {
    display: none;
    pointer-events: none;
    visibility: hidden;

    @media (min-width: $grid-medium-bp) {
      display: block;
      pointer-events: all;
      visibility: visible;
    }
  }
}
