@import "rl-view";

:root {
  --rl-map-element-font-size: 48px;
}

.rl-view .rl-svg__symbol {
  &--computer {
    fill: #800;
    stroke: #300;
    fill-rule: evenodd;

    &-alt {
      fill: #080;
      stroke: #030;
    }
  }
}

.rl-view.rl-view--map {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;

  .rl-map {
    height: calc(100% - 60px);
  }
}
