@import "rl-view";

:root {
  --rl-map-element-font-size: 48px;
}

.rl-map-symbol--computer {
  fill: #600;
  fill-rule: evenodd;
}

.rl-map {
  &-marker {
    &--available {
      .rl-map-symbol--computer {
        fill: #060;
      }
    }
  }
}

.rl-view.rl-view--map {
  width: 100%;
  margin: 0;
  padding: 0;

  .rl-map {
    height: calc(100% - 60px);
  }
}
