:root {
  --rl-svg__text-size: 48px;
}

// Define colours for the computer symbol.
.rl-svg__symbol--computer {
  --rl-svg__symbol-fill: #800;
  --rl-svg__symbol-stroke: #300;
  --rl-svg__symbol-fill--alt: #080;
  --rl-svg__symbol-stroke--alt: #030;
}

.rl-view.rl-view--map {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;

  .rl-map {
    height: calc(100% - 60px);
  }
}
