@import "@material/card/mixins";
@import "@material/elevation/mixins";
// @import "@material/layout-grid/mdc-layout-grid";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "rl-view";

@mixin rl-event-colourize($color, $url) {
  .rl-event { border-color: darken($color, 25%); }

  .rl-event__header {
    background-color: $color;

    &::before {
      background-image: url($url);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .rl-event__text-protection {
    background-image: linear-gradient(to right, $color, transparentize($color, 0.5));
  }
}

.rl-event {
  @include mdc-shape-radius(2px);
  @include mdc-elevation(2);
  @include mdc-card-container-layout_;

  &.DME { @include rl-event-colourize($bright-sky, "/assets/img/DME_black.png"); }
  &.SB { @include rl-event-colourize($coral, "/assets/img/SB_black.png"); }
  &.SLS { @include rl-event-colourize($sour-apple, "/assets/img/SLS_black.png"); }
  &.SLC { @include rl-event-colourize($goldenrod, "/assets/img/SLC_black.png"); }
  &.SOP { @include rl-event-colourize($ruby, "/assets/img/SOP_black.png"); }
  &.LIB { @include rl-event-colourize($charcoal, "/assets/img/LIB_white.png"); }

  &:focus {
    @include mdc-elevation(4);
  }

  &__header {
    &::before {
      display: block;
      content: "";
    }

    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    &--16-9::before {
      padding-top: 56.25%;
    }
  }

  &__text-protection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__header-content {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  &__title {
    padding-bottom: 8px;
  }

  &__detail {
    padding: 16px;
  }

  &__actions {
    @include mdc-card-actions-layout_;

    min-height: 52px;
    margin-top: auto;
    padding: 8px;
  }

  &__action {
    @include mdc-card-actions-layout_(inline-flex);

    justify-content: center;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__action--button {
    @include mdc-rtl-reflexive-box(margin, right, 8px);

    padding: 0 8px;

    &:last-child {
      @include mdc-rtl-reflexive-box(margin, right, 0);
    }
  }
}
