:host {
  display: block;
  position: relative;
  margin: 0 -4px;
}

.rl-scrolling-carousel {
  &__wrapper {
    display: block;
    position: relative;
    transform: translate3d(0, 0, 0);
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__scroll-wrap {
    display: inline-block;
  }

  &__scroller {
    display: flex;
  }
}
