@import "@material/elevation/mixins";
@import "@material/layout-grid/mixins";
@import "@material/textfield/mixins";

.rl-search {
  display: block;
  position: relative;
  transition: all, 0.2s ease;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  z-index: 1;

  @include mdc-layout-grid-media-query_(phone) {
    width: 100%;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-left: 48px;
    padding: 0;
    padding-right: 72px;
    transition: border 0.1s ease-out;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: $mdc-theme-on-primary;
    font-size: 16px;
    font-weight: normal;

    &::placeholder {
      color: $mdc-theme-on-primary;
    }

    @include mdc-layout-grid-media-query_(phone) {
      padding-right: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    height: 24px;
    padding: 12px;
    cursor: pointer;

    @include mdc-layout-grid-media-query_(phone) {
      bottom: 12px;
    }
  }

  &__results {
    display: none;
    width: 100%;
    height: 0;
    transition: height 0.2s ease;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }

  &--open {
    @include mdc-elevation(4);

    background-color: $mdc-theme-surface;

    .rl-search {
      &__input,
      &__input::placeholder,
      &__icon {
        color: $mdc-theme-on-surface;
      }

      &__results {
        display: block;
      }
    }
  }

  &__icon:not([tabindex]),
  &__icon[tabindex="-1"] {
    cursor: default;
    pointer-events: none;
  }

  &[show-menu] {
    .rl-search__icon {
      cursor: pointer;
      pointer-events: all;
    }
  }

  &__no-results {
    display: block;
    padding: 12px 16px;
    color: $mdc-theme-on-surface;
  }

  &__result-item {
    cursor: pointer;
  }
}
