@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/ripple/mdc-ripple";

.rula-accordion-item {
  @include mdc-elevation(2);

  display: block;
  position: relative;
  box-sizing: border-box;
  transition:
    mdc-animation-standard(margin, 280ms),
    mdc-animation-standard(opacity, 280ms);
  border: 1px solid hsl(0, 0%, 80%);
  outline: none;
  background-color: #fff;
  opacity: 1;
  overflow: hidden;
  will-change: margin, opacity;

  &--fade-in {
    opacity: 0;
  }

  &:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:not([open]) + .rula-accordion-item {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__header {
    user-select: none;
    overflow: hidden;
  }

  &__title {
    text-align: left;
  }

  &__trigger {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states-base-color(var(--rula-accordion-item-ripple-color, red));
    @include mdc-states-hover-opacity(0.1);
    @include mdc-states-focus-opacity(0.2);
    @include mdc-states-press-opacity(0.3);

    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0 24px;
    transition: mdc-animation-standard(height, 280ms);
    border: 0;
    background: none;
    cursor: pointer;
    will-change: height;
  }

  &__icon {
    transform: rotate(0);
    transition: mdc-animation-standard(transform, 280ms);
    will-change: transform;
  }

  &__content {
    box-sizing: border-box;
    max-height: 0;
    margin: 0;
    padding-right: 24px;
    padding-left: 24px;
    transition:
      mdc-animation-standard(padding-bottom, 280ms),
      mdc-animation-standard(max-height, 280ms),
      mdc-animation-standard(padding-top, 280ms);
  }

  &--open {
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: 2px;

    .rula-accordion-item__trigger {
      height: 64px;
    }

    .rula-accordion-item__icon {
      transform: rotate(180deg);
    }

    .rula-accordion-item__content {
      max-height: 50em;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &:first-child {
      margin-top: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}
