<!DOCTYPE html>
<html dir='ltr' lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0'>
  <title>rula-accordion Example || RULA Web Components</title>
  <script src='/dist/rula.js'></script>
  <style>
    :root {
      --rula-accordion-item-ripple-color: blue;
    }
    .demo-content {
      max-width: 900px;
      margin: 0 auto;
      padding: 40px 16px 100px;
    }
  </style>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
</head>
<body class='demo-content'>
  <h2>Accordion Demos</h2>
  <h3>Fade-in with allow-multiple (default)</h3>
  <rula-accordion>
    <rula-accordion-item
        class="rula-accordion-item--fade-in"
        index=1 delay="100">
      <div slot="header">
        What is Lorem Ipsum?
      </div>
      <div slot="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at augue a tellus
        egestas posuere in id velit. Curabitur id turpis eu augue commodo gravida.
        Quisque non dictum lorem.
      </div>
    </rula-accordion-item>
    <rula-accordion-item
        class="rula-accordion-item--fade-in"
        index=2 delay="200">
      <div slot="header">
        Why do we use it?
      </div>
      <div slot="content">
        Suspendisse id ante sed velit elementum facilisis vel eu leo. Integer 
        tempus congue ullamcorper. Pellentesque habitant morbi tristique 
        senectus et netus et malesuada fames ac turpis egestas. Nulla quis 
        dolor at enim imperdiet ornare. Ut quis tempus massa, id congue quam.
      </div>
    </rula-accordion-item>
    <rula-accordion-item
        class="rula-accordion-item--fade-in"
        index=3 delay="300">
      <div slot="header">
        Where can I get some?
      </div>
      <div slot="content">
        Nam sed augue quis urna cursus rutrum. Vivamus rutrum sollicitudin 
        commodo. Morbi volutpat eu quam sit amet blandit. Aenean venenatis 
        ultricies aliquet. Aliquam ac velit sapien. Nulla blandit eleifend 
        nibh, sit amet dapibus dolor ornare sit amet. Phasellus congue, urna 
        vitae scelerisque posuere, nibh lectus dapibus velit, vitae euismod 
        nunc mauris eu risus. Ut ac cursus urna. Donec venenatis velit augue, 
        quis porttitor nibh tristique vel. Phasellus id purus egestas mi 
        rhoncus mattis. Curabitur congue pretium purus. Etiam quis turpis 
        neque. In non velit tortor. Sed dui magna, aliquet at neque ac, 
        pulvinar fringilla lacus. Nam viverra placerat mi at sagittis. 
        Fusce tincidunt semper dapibus.
      </div>
    </rula-accordion-item>
    <rula-accordion-item
        class="rula-accordion-item--fade-in"
        index=4 delay="400">
      <div slot="header">
        What if I want even more?
      </div>
      <div slot="content">
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur 
        ridiculus mus. Donec tristique porta turpis. Duis ullamcorper est 
        lorem, suscipit sagittis dolor lacinia eu. Cras ut faucibus magna, in 
        egestas lorem. Donec blandit ullamcorper ante. Vestibulum suscipit 
        justo sed neque maximus, at viverra lacus egestas. Morbi feugiat sit 
        amet nisi eu dignissim. Fusce et nulla porta, maximus metus eu, egestas 
        enim. Aenean ultrices lectus neque, id consequat urna ornare non. Duis 
        ac congue tellus, a consectetur orci.
      </div>
    </rula-accordion-item>
  </rula-accordion>

  <br />
  <h3>Single-only, no fade-in</h3>
  <rula-accordion allow-multiple="false">
    <rula-accordion-item index=1>
      <div slot="header">
        What is Lorem Ipsum?
      </div>
      <div slot="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at augue a tellus
        egestas posuere in id velit. Curabitur id turpis eu augue commodo gravida.
        Quisque non dictum lorem.
      </div>
    </rula-accordion-item>
    <rula-accordion-item index=2>
      <div slot="header">
        Why do we use it?
      </div>
      <div slot="content">
        Suspendisse id ante sed velit elementum facilisis vel eu leo. Integer 
        tempus congue ullamcorper. Pellentesque habitant morbi tristique 
        senectus et netus et malesuada fames ac turpis egestas. Nulla quis 
        dolor at enim imperdiet ornare. Ut quis tempus massa, id congue quam.
      </div>
    </rula-accordion-item>
    <rula-accordion-item index=3>
      <div slot="header">
        Where can I get some?
      </div>
      <div slot="content">
        Nam sed augue quis urna cursus rutrum. Vivamus rutrum sollicitudin 
        commodo. Morbi volutpat eu quam sit amet blandit. Aenean venenatis 
        ultricies aliquet. Aliquam ac velit sapien. Nulla blandit eleifend 
        nibh, sit amet dapibus dolor ornare sit amet. Phasellus congue, urna 
        vitae scelerisque posuere, nibh lectus dapibus velit, vitae euismod 
        nunc mauris eu risus. Ut ac cursus urna. Donec venenatis velit augue, 
        quis porttitor nibh tristique vel. Phasellus id purus egestas mi 
        rhoncus mattis. Curabitur congue pretium purus. Etiam quis turpis 
        neque. In non velit tortor. Sed dui magna, aliquet at neque ac, 
        pulvinar fringilla lacus. Nam viverra placerat mi at sagittis. 
        Fusce tincidunt semper dapibus.
      </div>
    </rula-accordion-item>
    <rula-accordion-item index=4>
      <div slot="header">
        What if I want even more?
      </div>
      <div slot="content">
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur 
        ridiculus mus. Donec tristique porta turpis. Duis ullamcorper est 
        lorem, suscipit sagittis dolor lacinia eu. Cras ut faucibus magna, in 
        egestas lorem. Donec blandit ullamcorper ante. Vestibulum suscipit 
        justo sed neque maximus, at viverra lacus egestas. Morbi feugiat sit 
        amet nisi eu dignissim. Fusce et nulla porta, maximus metus eu, egestas 
        enim. Aenean ultrices lectus neque, id consequat urna ornare non. Duis 
        ac congue tellus, a consectetur orci.
      </div>
    </rula-accordion-item>
  </rula-accordion>
</body>
</html>