//@import "@material/drawer/mdc-drawer";
@import "@material/animation/variables";
@import "@material/list/mdc-list";
@import "@material/select/mdc-select";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/layout-grid/mixins";
@import "@material/elevation/mixins";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/typography/mdc-typography";

.rl-bis.hydrated {
  .rl-main-content {
    position: relative;
    top: $rl-top-bar-height;
    box-sizing: border-box;
    height: calc(100vh - #{$rl-top-bar-height});
    background-color: $mdc-theme-background;
    user-select: none;
    overflow-x: hidden;

    @media (max-width: $grid-mobile-bp - 1) {
      top: $rl-top-bar-mobile-height;
      height: calc(100vh - #{$rl-top-bar-mobile-height});
    }
    //stencil-router > div { display: inline; }
  }
}

.rl-bis--loaded {
  opacity: 1;
}
