.mdc-top-app-bar .mdc-top-app-bar__section {
  &--align-start {
    flex: 1;
    justify-content: flex-start;
    order: -1;
  }

  &--align-middle {
    display: block;
    flex: 2;
    justify-content: center;
    order: 0;
    max-width: 800px;
  }

  &--align-end {
    justify-content: flex-end;
    order: 1;
  }
}
