@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/rtl/mixins";
@import "@material/theme/mixins";
@import "@material/drawer/variables";
@import "@material/typography/mixins";
@import "@material/layout-grid/mixins";
@import "@material/top-app-bar/mixins";
@import "rula-list";

$rula-side-sheet-close-time: 200ms;
$rula-side-sheet-open-time: 250ms;
$rula-side-sheet-transition-close: mdc-animation-standard(transform, $rula-side-sheet-close-time);
$rula-side-sheet-transition-open: mdc-animation-standard(transform, $rula-side-sheet-open-time);

@mixin rula-slidable-panel {
  transform: translateX(107%);
  transform: translateX(calc(100% + 20px));

  @include mdc-rtl {
    transform: translateX(-107%);
    transform: translateX(calc(-100% - 20px));
  }

  @include mdc-layout-grid-media-query_(phone) {
    transform: translateY(107%);
    transform: translateY(calc(100% + 20px));
    will-change: transform;
  }
}

@mixin rula-slidable-panel-open {
  transform: none;
}

.rula-side-sheet {
  @include mdc-elevation(4);
  @include mdc-theme-prop(background-color, $mdc-drawer-surface-fill-color);
  @include mdc-theme-prop(color, text-secondary-on-light);
  @include mdc-rtl-reflexive-position(right, 0);
  @include rula-slidable-panel;

  display: flex;
  position: fixed;
  top: 72px;
  right: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100% - 128px);
  max-width: 320px;
  height: calc(100vh - 144px);
  border-radius: 4px 0 0 4px;
  pointer-events: none;
  overflow: hidden;
  contain: strict;
  touch-action: none;
  z-index: 3;

  @include mdc-layout-grid-media-query_(phone) {
    top: unset;
    right: unset;
    bottom: 0;
    left: 8px;
    width: calc(100% - 16px);
    max-width: unset;
    height: 30vh;
    border-radius: 4px 4px 0 0;
  }

  &--open {
    @include rula-slidable-panel-open;

    pointer-events: auto;

    @include mdc-rtl {
      @include rula-slidable-panel-open;
    }
  }

  &--animate {
    transition: $rula-side-sheet-transition-close;

    &.rula-side-sheet--open {
      transition: $rula-side-sheet-transition-open;
    }
  }

  &__header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .rula-side-sheet__header-content {
      box-sizing: border-box;

      .mdc-typography--headline6 {
        line-height: 1.25rem;
      }
    }
  }

  &__close {
    @include mdc-top-app-bar-icon_;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0 16px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
  }

  &__section {
    padding: 16px 0;
  }

  &__subtitle {
    @include mdc-theme-prop(color, text-hint-on-background);
  }
}
