@mixin rula-element-focused {
  outline: none;
  fill: var(--rula-map-element-focus-fill, rgba(255, 255, 83, 0.3));
}

@mixin rula-element-activated() {
  stroke: var(--rula-map-element-active-stroke, rgb(199, 171, 0));
  stroke-width: 8;
}

.rula-map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__svg {
    width: 100%;
    height: 100%;
  }
}

.rula-map-element {
  &__region {
    fill: var(--rula-map-region-fill, rgba(0, 76, 155, 0.6));
    stroke: var(--rula-map-region-fill, rgb(0, 76, 155));
    stroke-width: 4;

    &:focus {
      @include rula-element-focused();
    }

    &--activated {
      @include rula-element-activated();
    }

    &:hover {
      @include rula-element-focused();

      cursor: pointer;
      -webkit-filter: drop-shadow(10px, 10px, 5px, rgba(0, 0, 0, 0.4));
      filter: drop-shadow(10px, 10px, 5px, rgba(0, 0, 0, 0.4));
    }
  }

  &__text {
    font-family: var(--rula-map-element-font-family, "sans");
    font-size: var(--rula-map-element-font-size, 24px);
    // Text shouldn't be focusable or selectable, it's just a label.
    user-select: none;

    &:hover {
      cursor: default;
    }
  }

  &__point {
    &:focus {
      outline: none;

      .rula-map-element__rect {
        @include rula-element-focused();
      }
    }

    &:hover {
      rect {
        @include rula-element-focused();

        cursor: pointer;
      }
    }
  }

  &__rect {
    fill: none;
    stroke: none;

    &--activated {
      @include rula-element-activated();
      @include rula-element-focused();
    }
  }
}
