@import "@material/card/mixins";
@import "@material/elevation/mixins";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "@material/typography/mixins";

.rl-card {
  &__content {
    padding: 20px 16px;
  }

  &__actions {
    @include mdc-card-actions-layout_;

    min-height: 52px;
    margin-top: auto;
    padding: 8px;
  }

  &__action {
    @include mdc-card-actions-layout_(inline-flex);

    justify-content: center;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__action--button {
    @include mdc-rtl-reflexive-box(margin, right, 8px);

    padding: 0 8px;

    &:last-child {
      @include mdc-rtl-reflexive-box(margin, right, 0);
    }
  }

  &--building {
    .rl-card {
      &__title {
        @include mdc-typography(headline4);
      }

      &__description {
        @include mdc-typography(body1);

        width: 80%;
        float: left;
      }

      &__expand-icon {
        width: 20%;
        width: 64px;
        height: 64px;
        float: right;
      }
    }
  }
}
